.filter-options, .agent-tools {
  @include displayFlex(column, center, nowrap);
  & button {
    border-style: solid;
    border-color: black;
    margin: 5%;
    @include setDimensions(auto, 80%);
  }
}

.agent-info{
  align-items: center;
  @include displayFlex(column, center, nowrap);
}
