.sidebar {
  align-items: center;
  @include displayFlex(column, flex-start, nowrap);
  width: 30%;
}

.prof-pic{
  position: relative;
  @include setDimensions(auto, 75%);
}

.sidebar-content {
  text-align: center;
  @include displayFlex(column, center, nowrap);
  @include setDimensions(30%, 100%);
}

.sidebar-btn-area {
  @include displayFlex(row-reverse, center, nowrap);
  @include setDimensions(20%, 100%);
}

.user-name, .traveler-type{
  line-height: 1vmin;
}

.new-trip-form {
  align-items: center;
  @include displayFlex(column, space-around, nowrap);
  & input {
    @include setDimensions(auto, 80%);
    font-family: $font;
    font-size: 2vmin;
  }
}
